# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Next.js build output
# =========================
.next/
out/

# =========================
# React build output (if exists)
# =========================
build/
dist/

# =========================
# Environment / secrets
# =========================
.env
.env.*
*.local

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Coverage / tests
# =========================
coverage/

# =========================
# Optional: Vercel
# =========================
.vercel/


package-lock.json